name: mymavenbuild
on: pull_request
jobs:
   installmaven:
       runs-on: ubuntu-latest
       steps:
         - name: install java
           run: sudo yum update -y && sudo yum install java
         - name: install maven 
           run: sudo yum install maven -y